name: Publish Package

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  release:
    if: github.ref == 'refs/heads/main' && github.repository == 'IsmailBinMujeeb/nodero'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      actions: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org
          cache: npm

      - name: Set npm token
        run: |
          npm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          npm config set provenance true

      - name: Install dependencies
        run: npm ci

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: npm run version-packages
          publish: npm run release
          createGithubReleases: true
          commit: "chore(release): version packages"
          title: "chore(release): version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
